.container {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-template-rows: 10rem 10rem 10rem;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "first first second"
    "fourth third second"
    "fourth fifth fifth";
  width: 50%;
  height: 50%;
}

.first {
  grid-area: first;
}

.second {
  grid-area: second;
}

.third {
  grid-area: third;
}

.fourth {
  grid-area: fourth;
}

.fifth {
  grid-area: fifth;
}
