@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mavenpro-regular";
  font-weight: 400;
  src: url(./assets/fonts/maven-pro/MavenPro-Regular.ttf);
}

@font-face {
  font-family: "mavenpro-bold";
  font-weight: 600;
  src: url(./assets/fonts/maven-pro/MavenPro-Bold.ttf);
}

@font-face {
  font-family: "mavenpro-black";
  font-weight: 900;
  src: url(./assets/fonts/maven-pro/MavenPro-Black.ttf);
}

@font-face {
  font-family: "mavenpro-medium";
  font-weight: 500;
  src: url(./assets/fonts/maven-pro/MavenPro-Medium.ttf);
}


@font-face {
  font-family: "inder";
  font-weight: 400;
  src: url(./assets/fonts/Inder/Inder-Regular.ttf);
}


.tooltip {
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-font{
  font-family: "mavenpro-medium";
}

.maven{
  font-family: "mavenpro-regular";
}

.divscroller{
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: block;
}

.divscroller::-webkit-scrollbar-thumb {
  background: #F0F0F0;
  border-radius: 20px;
  width: 1px;
}

::-webkit-scrollbar {
  width: 4px;
  scroll-behavior: smooth;
  background-color: #2a2a2a;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #006837;
  border-radius: 20px;
}

/* styles.css or your main CSS file */
.swiper-slide-prev, .swiper-slide-next {
    transform: scale(0.8); /* Scale down the side slides */
    opacity: 0.6; /* Reduce opacity for side slides */
  }
  
.swiper-slide-active .swiper-video {
    transform: scale(1); /* Ensure the active slide's video is not scaled */
    opacity: 1; /* Ensure the active slide's video has full opacity */
}